// Language syntax highlighting

.punctuation-mixin() {
  .punctuation,
  .bracket,
  .brace {
    .uno-3();
  }
}
.punctuation-mixin();

.comment {
  .uno-3();
  font-style: italic;
}


// Default -----------------------------------
// Will be used by all languages when no other scope is defined

.source {
  .uno-2();
}


// Text styles -----------------------------------

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
