
/*
 * CSS Properties
 * http://ref.openweb.io/CSS/
**/

.properties {
  align-content: value;
  align-items: value;
  align-self: value;
  alignment-adjust: value;
  alignment-baseline: value;
  all: value;
  alt: value;
  animation: value;
  animation-delay: value;
  animation-direction: value;
  animation-duration: value;
  animation-fill-mode: value;
  animation-iteration-count: value;
  animation-name: value;
  animation-play-state: value;
  animation-timing-function: value;
  azimuth: value;

  backface-visibility: value;
  background: value;
  background-attachment: value;
  background-clip: value;
  background-color: value;
  background-image: value;
  background-origin: value;
  background-position: value;
  background-repeat: value;
  background-size: value;
  background-blend-mode: value;
  baseline-shift: value;
  bleed: value;
  bookmark-label: value;
  bookmark-level: value;
  bookmark-state: value;
  border: value;
  border-color: value;
  border-style: value;
  border-width: value;
  border-bottom: value;
  border-bottom-color: value;
  border-bottom-style: value;
  border-bottom-width: value;
  border-left: value;
  border-left-color: value;
  border-left-style: value;
  border-left-width: value;
  border-right: value;
  border-right-color: value;
  border-right-style: value;
  border-right-width: value;
  border-top: value;
  border-top-color: value;
  border-top-style: value;
  border-top-width: value;
  border-collapse: value;
  border-image: value;
  border-image-outset: value;
  border-image-repeat: value;
  border-image-slice: value;
  border-image-source: value;
  border-image-width: value;
  border-radius: value;
  border-bottom-left-radius: value;
  border-bottom-right-radius: value;
  border-top-left-radius: value;
  border-top-right-radius: value;
  border-spacing: value;
  bottom: value;
  box-decoration-break: value;
  box-shadow: value;
  box-sizing: value;
  box-snap: value;
  break-after: value;
  break-before: value;
  break-inside: value;
  buffered-rendering: value;

  caption-side: value;
  clear: value;
  clear-side: value;
  clip: value;
  clip-path: value;
  clip-rule: value;
  color: value;
  color-adjust: value;
  color-correction: value;
  color-interpolation: value;
  color-interpolation-filters: value;
  color-profile: value;
  color-rendering: value;
  column-fill: value;
  column-gap: value;
  column-rule: value;
  column-rule-color: value;
  column-rule-style: value;
  column-rule-width: value;
  column-span: value;
  columns: value;
  column-count: value;
  column-width: value;
  contain: value;
  content: value;
  counter-increment: value;
  counter-reset: value;
  counter-set: value;
  cue: value;
  cue-after: value;
  cue-before: value;
  cursor: value;

  direction: value;
  display: value;
  display-inside: value;
  display-outside: value;
  display-extras: value;
  display-box: value;
  dominant-baseline: value;

  elevation: value;
  empty-cells: value;
  enable-background: value;

  fill: value;
  fill-opacity: value;
  fill-rule: value;
  filter: value;
  float: value;
  float-defer-column: value;
  float-defer-page: value;
  float-offset: value;
  float-wrap: value;
  flow-into: value;
  flow-from: value;
  flex: value;
  flex-basis: value;
  flex-grow: value;
  flex-shrink: value;
  flex-flow: value;
  flex-direction: value;
  flex-wrap: value;
  flood-color: value;
  flood-opacity: value;
  font: value;
  font-family: value;
  font-size: value;
  font-stretch: value;
  font-style: value;
  font-weight: value;
  font-feature-settings: value;
  font-kerning: value;
  font-language-override: value;
  font-size-adjust: value;
  font-synthesis: value;
  font-variant: value;
  font-variant-alternates: value;
  font-variant-caps: value;
  font-variant-east-asian: value;
  font-variant-ligatures: value;
  font-variant-numeric: value;
  font-variant-position: value;
  footnote-policy: value;

  glyph-orientation-horizontal: value;
  glyph-orientation-vertical: value;
  grid: value;
  grid-auto-flow: value;
  grid-auto-columns: value;
  grid-auto-rows: value;
  grid-template: value;
  grid-template-areas: value;
  grid-template-columns: value;
  grid-template-rows: value;
  grid-area: value;
  grid-column: value;
  grid-column-start: value;
  grid-column-end: value;
  grid-row: value;
  grid-row-start: value;
  grid-row-end: value;

  hanging-punctuation: value;
  height: value;
  hyphenate-character: value;
  hyphenate-limit-chars: value;
  hyphenate-limit-last: value;
  hyphenate-limit-lines: value;
  hyphenate-limit-zone: value;
  hyphens: value;

  icon: value;
  image-orientation: value;
  image-resolution: value;
  image-rendering: value;
  ime: value;
  ime-align: value;
  ime-mode: value;
  ime-offset: value;
  ime-width: value;
  initial-letters: value;
  inline-box-align: value;
  isolation: value;

  justify-content: value;
  justify-items: value;
  justify-self: value;

  kerning: value;

  left: value;
  letter-spacing: value;
  lighting-color: value;
  line-box-contain: value;
  line-break: value;
  line-grid: value;
  line-height: value;
  line-slack: value;
  line-snap: value;
  list-style: value;
  list-style-image: value;
  list-style-position: value;
  list-style-type: value;

  margin: value;
  margin-bottom: value;
  margin-left: value;
  margin-right: value;
  margin-top: value;
  marker: value;
  marker-end: value;
  marker-mid: value;
  marker-pattern: value;
  marker-segment: value;
  marker-start: value;
  marker-knockout-left: value;
  marker-knockout-right: value;
  marker-side: value;
  marks: value;
  marquee-direction: value;
  marquee-play-count: value;
  marquee-speed: value;
  marquee-style: value;
  mask: value;
  mask-image: value;
  mask-repeat: value;
  mask-position: value;
  mask-clip: value;
  mask-origin: value;
  mask-size: value;
  mask-box: value;
  mask-box-outset: value;
  mask-box-repeat: value;
  mask-box-slice: value;
  mask-box-source: value;
  mask-box-width: value;
  mask-type: value;
  max-height: value;
  max-lines: value;
  max-width: value;
  min-height: value;
  min-width: value;
  mix-blend-mode: value;

  nav-down: value;
  nav-index: value;
  nav-left: value;
  nav-right: value;
  nav-up: value;

  object-fit: value;
  object-position: value;
  offset-after: value;
  offset-before: value;
  offset-end: value;
  offset-start: value;
  opacity: value;
  order: value;
  orphans: value;
  outline: value;
  outline-color: value;
  outline-style: value;
  outline-width: value;
  outline-offset: value;
  overflow: value;
  overflow-x: value;
  overflow-y: value;
  overflow-style: value;
  overflow-wrap: value;

  padding: value;
  padding-bottom: value;
  padding-left: value;
  padding-right: value;
  padding-top: value;
  page: value;
  page-break-after: value;
  page-break-before: value;
  page-break-inside: value;
  paint-order: value;
  pause: value;
  pause-after: value;
  pause-before: value;
  perspective: value;
  perspective-origin: value;
  pitch: value;
  pitch-range: value;
  play-during: value;
  pointer-events: value;
  position: value;

  quotes: value;

  region-fragment: value;
  resize: value;
  rest: value;
  rest-after: value;
  rest-before: value;
  richness: value;
  right: value;
  ruby-align: value;
  ruby-merge: value;
  ruby-position: value;

  scroll-behavior: value;
  scroll-snap-coordinate: value;
  scroll-snap-destination: value;
  scroll-snap-points-x: value;
  scroll-snap-points-y: value;
  scroll-snap-type: value;
  shape-image-threshold: value;
  shape-inside: value;
  shape-margin: value;
  shape-outside: value;
  shape-padding: value;
  shape-rendering: value;
  size: value;
  speak: value;
  speak-as: value;
  speak-header: value;
  speak-numeral: value;
  speak-punctuation: value;
  speech-rate: value;
  stop-color: value;
  stop-opacity: value;
  stress: value;
  string-set: value;
  stroke: value;
  stroke-dasharray: value;
  stroke-dashoffset: value;
  stroke-linecap: value;
  stroke-linejoin: value;
  stroke-miterlimit: value;
  stroke-opacity: value;
  stroke-width: value;

  tab-size: value;
  table-layout: value;
  text-align: value;
  text-align-all: value;
  text-align-last: value;
  text-anchor: value;
  text-combine-upright: value;
  text-decoration: value;
  text-decoration-color: value;
  text-decoration-line: value;
  text-decoration-style: value;
  text-decoration-skip: value;
  text-emphasis: value;
  text-emphasis-color: value;
  text-emphasis-style: value;
  text-emphasis-position: value;
  text-emphasis-skip: value;
  text-height: value;
  text-indent: value;
  text-justify: value;
  text-orientation: value;
  text-overflow: value;
  text-rendering: value;
  text-shadow: value;
  text-size-adjust: value;
  text-space-collapse: value;
  text-spacing: value;
  text-transform: value;
  text-underline-position: value;
  text-wrap: value;
  top: value;
  touch-action: value;
  transform: value;
  transform-box: value;
  transform-origin: value;
  transform-style: value;
  transition: value;
  transition-delay: value;
  transition-duration: value;
  transition-property: value;
  transition-timing-function

  unicode-bidi: value;

  vector-effect: value;
  vertical-align: value;
  visibility: value;
  voice-balance: value;
  voice-duration: value;
  voice-family: value;
  voice-pitch: value;
  voice-range: value;
  voice-rate: value;
  voice-stress: value;
  voice-volumn: value;
  volume: value;

  white-space: value;
  widows: value;
  width: value;
  will-change: value;
  word-break: value;
  word-spacing: value;
  word-wrap: value;
  wrap-flow: value;
  wrap-through: value;
  writing-mode: value;

  z-index: value;

  --*: value;
}
