
// DuoTone palette

.base-1 { color: @base-1; } // ... Strong
.base-2 { color: @base-2; } // ..  |
.base-3 { color: @base-3; } // .   Weak

.uno-1 { color: var(--uno-1); } // ... Strong
.uno-2 { color: var(--uno-2); } // ..  |

.duo-1 { color: var(--duo-1); } // ... Strong
.duo-2 { color: var(--duo-2); } // ..  Weak

.tri-1 { color: var(--tri-1); } // ... Strong
.tri-2 { color: var(--tri-2); } // ..  Weak
